  /*.search-form{
    width: 100%;
    max-width: 680px;
}
.search-form {
  
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: none;
}

.search-btn {
  border: none;
  background: none;
  margin-left: 10px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.search-btn i {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    flex-wrap: wrap;
  }

  .form-control {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
} 
*/

.search-form {
  width: 100%;
  max-width: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.form-control {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  border: none;
}

.search-btn {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn i {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .search-bar {
    flex-wrap: wrap;
    justify-content: flex-start; /* Add this line to position the search icon to the left */
  }
  
  .search-btn {
    margin-top: 10px; /* Add this line to separate the search icon from the search bar */
  }
}

