/* .search-form{
    width: 100%;
    max-width: 680px;
}
.search-form-elem{
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
}
.search-form-elem .form-control{
    font-size: 2rem;
    padding: 0.6rem;
}
.search-form-elem .form-control::placeholder{
    opacity: 0.9;
} */
.form-control {
  /* set the width of the input field to 80% */
  width: 80%;
  /* add some padding and margin */
  padding: 10px;
  margin-right: 10px;
}

button[type="submit"] {
  /* remove default button styling */
  border: none;
  background: none;
  /* center the button content */
  display: flex;
  justify-content: center;
  align-items: center;
  /* add some padding and margin */
  padding: 10px;
  margin-left: 10px;
}

.text-purple {
  /* add some margin to the icon for better spacing */
  margin-right: 5px;
}
